body {
    background-image: url('fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: hsl(46, 100%, 49%);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.contenedor-imagen {
    border: 3px solid hsl(46, 100%, 49%);
    width: 40%;
    margin: auto;
    padding: 20px;
}

.contenedor-imagen img {
    width: 800px;
    max-width: 100%;
}
.tabla{
    border-collapse: collapse;
    color: hsl(46, 100%, 49%);
    font-family: Arial, sans-serif;
    width: 700px;
    text-align: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
.brillo{
    transition: 0.4s;
    margin-top: 40px;
}

.brillo:hover{
    filter: brightness(1.0);
    box-shadow: 0 0 100px hsl(46, 100%, 49%);
    transform: scale(1.1);
    
}
  .transitions-section {
  padding: 20px;
  text-align: center;
}

.transition-button {
    background-color: hsl(46, 100%, 49%);
    color: hsl(229, 49%, 15%);
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 40px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.transition-button:hover {
  background-color: hsl(46, 100%, 49%);
  transform: scale(1.016);
}
  .transitions-nombre {
  padding: 20px;
  text-align: center;
}
.volver {
    position: fixed;
    top: 20px;
    left: 20px;
    
    background-color: #f2c300;
    color: #001244;
    
    padding: 10px 15px;
    border-radius: 8px;
    
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;

    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.volver:hover {
    background-color: #ffd84d;
}